<mat-card class="card">
    <mat-card-header>
        <mat-card-title>{{meal && meal.label}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div id="meal-order">
            <img class="mealImg" [src]="mealImg64" alt="Photo of meal"> 
            <div>
                <p>{{meal && meal.description}}</p>
                <br>

                    <mat-icon style="vertical-align:middle;cursor:pointer" (click)="changeQuantity(quantity-1)">keyboard_arrow_down</mat-icon>
                    <span style="vertical-align:middle">{{ quantity }}</span>
                    <mat-icon style="vertical-align:middle;cursor:pointer" (click)="changeQuantity(quantity+1)">keyboard_arrow_up</mat-icon>
                
                 <button mat-raised-button style="margin-left:5%;" color="primary" (click)="addToCart()">ADD TO CART</button>   
            </div>
            
        </div>     
        
        <div class="ingredient">
            <div *ngIf="meal && meal.ingredients == undefined">
                <h3><b>Ingrédients indisponible</b></h3>
            </div>
            <div *ngIf="meal && meal.ingredients != undefined">
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                    
                        <mat-expansion-panel-header>
                            <mat-panel-description>Ingrédients ({{meal && meal.ingredients.length}})</mat-panel-description>
                        </mat-expansion-panel-header>
                        <div *ngFor="let ingredient of meal.ingredients">
                            <mat-grid-list cols="3" rowHeight="100px">
    
                                <mat-grid-tile colspan="1" rowspan="2">
                                    <img [src]="ingredient.img64" alt="Photo of ingredient">
                                </mat-grid-tile>
    
                                <mat-grid-tile colspan="1" rowspan="2">
                                    <h3>{{ingredient.label}}</h3>
                                </mat-grid-tile>
    
                                <mat-grid-tile colspan="1" rowspan="2">
                                    <p>{{ingredient.description}}</p>
                                </mat-grid-tile>
    
                            </mat-grid-list>
                            
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
        
    </mat-card-content>
</mat-card>
