.card {
    margin-right: 250px;
    margin-left: 250px;
}

.mealImg {
    width: 200px;
    height: 200px;
}

.description {
    padding-top: 30px;
    padding-left: 20px;
}

.ingredient {
    padding-top: 30px;
    padding-left: 20px;
}

#meal-order {
    display: flex;
    justify-content: flex-start;
}

#meal-order img {
    width: 40%;
    height: auto;
}

#meal-order div {
    width: 40%;
    margin-left: 5%;
}

#meal-order div input, #meal-order button {
    margin-right: 2%;
}

#quantity {
    padding-top: 1%;
}