<mat-card class="card">
    <mat-card-header>
        <mat-card-title>{{meal && meal.label}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div id="meal-order">
            <img class="mealImg" [src]="mealImg64" alt="Photo of meal"> 
            <div *ngIf="meal" class="infos">
                <p>{{meal && meal.description}}</p>
                <h3><b>Ingredients</b></h3>
                <ul>
                    <li *ngFor="let ingredient of meal.ingredients">{{ingredient && ingredient.label}}</li>
                </ul>
                <br>
                <div class="action">
                    <div>
                        <mat-icon style="vertical-align:middle;cursor:pointer" (click)="changeQuantity(quantity-1)">keyboard_arrow_down</mat-icon>
                        <span style="vertical-align:middle">{{ quantity }}</span>
                        <mat-icon style="vertical-align:middle;cursor:pointer" (click)="changeQuantity(quantity+1)">keyboard_arrow_up</mat-icon>
                    </div>
                    <div>
                        <button mat-raised-button color="primary" (click)="addToCart()">ADD TO CART</button>   
                    </div>
                
                 
                </div>
                    
            </div>
            
        </div>     
        
        
        
    </mat-card-content>
</mat-card>
