<mat-card class="profile">
    <mat-card-header>
        <mat-card-title>Votre Profile</mat-card-title>
        <mat-card-subtitle>Vous pouvez modifier vos redrmations personnelles ci-dessous</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="4" rowHeight="100px">
            <form [formGroup]="userForm">
                <mat-grid-tile colspan="1" rowspan="3">
                    <img [src]="currentUser && currentUser.image64"/>
                </mat-grid-tile>
    
                <mat-grid-tile colspan="1" rowspan="1">
                    <mat-form-field appearance="legacy">
                        <mat-label>Nom</mat-label>
                        <input matInput type="text" formControlName="name" [readonly]="readonly">
                    </mat-form-field>
                </mat-grid-tile>
    
                <mat-grid-tile colspan="1" rowspan="1">
                    <mat-form-field appearance="legacy">
                        <mat-label>Prénom</mat-label>
                        <input matInput type="text" formControlName="firstname" [readonly]="readonly">
                    </mat-form-field>
                </mat-grid-tile>
    
                <mat-grid-tile colspan="1" rowspan="1">
                    <mat-form-field appearance="legacy">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" formControlName="email" [readonly]="readonly">
                    </mat-form-field>
                </mat-grid-tile>
    
                <mat-grid-tile colspan="1" rowspan="1">
                    <mat-form-field appearance="legacy">
                        <mat-label>Téléphone</mat-label>
                        <input matInput type="text" formControlName="phone" [readonly]="readonly">
                    </mat-form-field>
                </mat-grid-tile>
    
                <mat-grid-tile colspan="1" rowspan="1">
                    <mat-form-field appearance="legacy">
                        <mat-label>Adresse</mat-label>
                        <input matInput type="text" formControlName="address" [readonly]="readonly">
                    </mat-form-field>
                </mat-grid-tile>
                
                <mat-grid-tile colspan="1" rowspan="1">
                    <mat-form-field appearance="legacy">
                        <mat-label>Code Postal</mat-label>
                        <input matInput type="text" formControlName="postalCode" [readonly]="readonly">
                    </mat-form-field>
                </mat-grid-tile>
    
                <mat-grid-tile colspan="1" rowspan="1">
                    <mat-form-field appearance="legacy">
                        <mat-label>Ville</mat-label>
                        <input matInput type="text" formControlName="town" [readonly]="readonly">
                    </mat-form-field>
                </mat-grid-tile>
    
                <mat-grid-tile colspan="1" rowspan="1">
                    <mat-form-field appearance="legacy">
                        <mat-label>Wallet</mat-label>
                        <input matInput type="text"formControlName="wallet" readonly>
                    </mat-form-field>
                </mat-grid-tile>
    
                <mat-grid-tile colspan="1" rowspan="1">
                    <mat-form-field appearance="legacy">
                        <mat-label>Password</mat-label>
                        <input matInput type="text"formControlName="password" readonly>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="1" rowspan="1">
                    <button mat-raised-button color="primary" type="button">changer image</button>
                </mat-grid-tile>

                <mat-grid-tile colspan="2" rowspan="1">
                    <button mat-raised-button color="primary" *ngIf="readonly" type="button" (click)="readonlyOn()">Modifier</button>
                    <button mat-raised-button color="warn" *ngIf="!readonly" type="button" (click)="readonlyOff()">Annuler</button>
                    <button mat-raised-button style="background-color: green; color:white" *ngIf="!readonly" type="button" (click)="modificationProfile(currentUser.id)">Enregistrer</button>
                </mat-grid-tile>
            </form>
        </mat-grid-list>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header class="expansion_panel">
                    <mat-panel-description>
                        commande passées ({{commandes.length}})
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngFor="let commande of commandes">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>Commande n°{{commande.id}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>Commande {{(commande.status == 0 ? "créée" : commande.status == 1 ? "validée" : "annulée")}}</p>
                            <p>Effectuée le {{commande.creationDate | date:'dd/MM/yyyy'}} à {{commande.creationTime}}</p>
                        </mat-card-content>
                        <!--<button [disabled]="commande.status == 1" (click)="payOrder(commande.id)">Valider et payer commande</button><button [disabled]="commande.status == 2" (click)="cancelOrder(commande.id)">Annuler commande</button>-->
                    </mat-card>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>
