<html>

<head>
    <title>Cantinière menu</title>
</head>

<body>
    <h3>Cantinire partie menu</h3>
    <div class="row">
            <mat-card class="example-card" *ngFor="let menus of listeMenus" [routerLink]="['/meal', menus.id]">
                <mat-card-header>
                  <mat-card-title>{{menus.label}}</mat-card-title>
                  <mat-card-subtitle>{{menus.priceDF}}€</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src={{menus.img64}} alt="Photo of menu">
              </mat-card>
        </div>
</body>

</html>