table {
    width: 100%;
}

.credit {
    background-color: #cccccc61;
    font-size: 0.8em;
}

.credit:hover {
    background-color: #3f51b5;
    color: #fff;
}

.hidden {
    display: none;
}

.debit {
    background-color: #cccccc61;
    font-size: 0.8em;
    margin-left: 5px;
}

.debit:hover {
    background-color: #dc3545;
    color: #fff;
}

.order-table {
    display: block;
    justify-content: center;
}

.valider {
    background-color: #cccccc61;
    font-size: 0.8em;
}

.valider:hover:enabled {
    background-color: #3fb545;
    color: #fff;
}

.greenStatus {
    color: green
}

.redStatus {
    color: red
}

.hidden {
    display: none;
}

.annuler {
    background-color: #cccccc61;
    font-size: 0.8em;
    margin-left: 5px;
}

.annuler:hover:enabled {
    background-color: #dc3545;
    color: #fff;
}

.row {
    padding: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
}

.expansion_panel {
    height: 200px !important;
}

/*.modif {
    float:right;
}*/

tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  img {
      width: 100px;
      height: 100px;
  }