<!-- <div class="navbar" >
    <div routerLinkActive="active"  *ngFor="let navItem of navItems">
        <a [routerLink]="[navItem.path]">
            <p>{{navItem.title}}</p>
        </a>
    </div>
</div> -->

<p>
    <mat-toolbar color="primary">
        <span routerLink="/accueil">LUNCHLADY</span>
        <span routerLink="/menus">MENU</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/cart">
          <mat-icon [matBadge]="cart.cart.length" matBadgeColor="accent">shopping_cart</mat-icon>
        </button>
        
          <div *ngIf="currentUser" id="wallet">
            <mat-icon>savings</mat-icon>
            <p>{{ cart.userWallet }}€</p>
          </div>  
          <span *ngIf="!currentUser" routerLink="/login">LOGIN</span>
          <div *ngIf="currentUser">
          
            <button mat-button [matMenuTriggerFor]="menu">{{currentUser.name}} {{currentUser.firstname}}</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item [routerLink]="['/profile', currentUser.id]">PROFILE</button>
              <button mat-menu-item *ngIf="isLunchLady" routerLink="/admin">ADMIN</button>
              <button mat-menu-item type="button" (click)="logout()">LOGOUT</button>
            </mat-menu>
            
          </div>
         
      </mat-toolbar>
    </p>

