<!-- <div class="navbar" >
    <div routerLinkActive="active"  *ngFor="let navItem of navItems">
        <a [routerLink]="[navItem.path]">
            <p>{{navItem.title}}</p>
        </a>
    </div>
</div> -->

<p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span routerLink="/accueil">LUNCHLADY</span>
        <span routerLink="/menus">MENUS</span>
        <span *ngIf="currentUser" routerLink="/profile">PROFILE</span>
        <span routerLink="/admin">ADMIN</span>
        <span class="example-spacer"></span>
          <mat-icon>shopping_cart</mat-icon>
          <span *ngIf="!currentUser" routerLink="/login">LOGIN</span>
          <div *ngIf="currentUser">
            <span>{{currentUser.name}} {{currentUser.firstname}}</span>
            <button type="button" (click)="logout()">Déconnexion</button>
          </div>
         
      </mat-toolbar-row>
      </mat-toolbar>
    </p>

