/* .navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 5px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
} */

span, button {
    margin: 0 2% 0 0;
    cursor: pointer;
}

.example-spacer {
    flex: 1 1 auto;
  }

#wallet {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    align-items: center;
}

#wallet p {
    vertical-align: middle;
    margin: 0 0 0 2%;
}